<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

    <h3>注册页面</h3>
    <form action="/user/register" method="post">
        用户名:<input name="name"/><br/>
        密码:<input name="password"/><br/>
        邮箱:<input name="email" id="mail"/><span id="aaa"></span><br/>
        <button type="button" onclick="verifyw()">发送验证码</button><br/>
        验证码:<input name="verifycode"/><br/>
        <button type="submit">注册</button>
    </form>


<script type="text/javascript">
    function verifyw() {
        var a=$("#mail").val();
        alert(a)
        $.ajax({
            type: "get",
            url: "/user/verify?mail="+a,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            // data:JSON.stringify({
            //     "mail":$("#mail").val()
            // }),
            success: function (message) {
                if (message=0){
                    $("#aaa").text("发送失败!");
                }
                $("#aaa").text("发送成功！");
            },
            error: function (message) {

            }
        });
    }
</script>
</body>
</html>